.navbar-header#navbar-header.container
        img(class="navbar-header__logo" height="40" width="214" src="./logo.svg")
        .navbar-header__links-and-buttons
            ul.navbar-header__links#navbar-header__links
                li(class="navbar-header__link navbar-header__link--inicio navbar-header__link--active")
                    a(href="/" class="animated-border" id="navbar-header__link--Inicio") Inicio
                -const links = ["Catalogo","Contactanos","Ubicación", "Nosotros"]
                each link in links
                    li(class="navbar-header__link navbar__link--" + link)
                        a(href="" + link +".html" id="navbar-header__link--" + link, class="animated-border") #{link}
            .navbar-header__buttons 
                span(class="navbar-header__button material-icons-round") search
                span(class="navbar-header__button material-icons-round") dark_mode
                span(class="navbar-header__button material-icons-round") shopping_cart
                span(class="navbar-header__button material-icons-round") account_circle
                div(aria-label="abrir menu" id="hamburguer" class="hamburguer navbar-header__button--hamburguer")
                    .hamburguer__div-center

