extends ./templates/template.pug
block head
    link(rel="stylesheet" type="text/css" href="./index.css")
block header
    .slider-header.my-slider
        .slider-header__slides.my-slider__slides
            .slider-header__slide.my-slider__slide
                h2.h1.slider-header__tittle Asiento Para Moto DT Personalizado
                button.slider-header__button.mybtn Ver m치s
                img(class="slider-header__img" src="./images/slider-header-1.webp" loading="lazy" alt="Asiento DT Personalizado")
            .slider-header__slide.my-slider__slide
                h2.h1.slider-header__tittle Asiento Para Moto DT Personalizado
                button.slider-header__button.mybtn Ver m치s
                img(class="slider-header__img" src="./images/slider-header-1.webp" loading="lazy" alt="Asiento DT Personalizado")
            .slider-header__slide.my-slider__slide
                h2.h1.slider-header__tittle Asiento Para Moto DT Personalizado
                button.slider-header__button.mybtn Ver m치s
                img(class="slider-header__img" src="./images/slider-header-1.webp" loading="lazy" alt="Asiento DT Personalizado")
            .slider-header__slide.my-slider__slide
                h2.h1.slider-header__tittle Asiento Para Moto DT Personalizado
                button.slider-header__button.mybtn Ver m치s
                img(class="slider-header__img" src="./images/slider-header-1.webp" loading="lazy" alt="Asiento DT Personalizado")
        .slider-header__navegation.my-slider__navegation.my-slider__navegation--side-small
            .my-slider__navegation-button.my-slider__navegation-button--back.my-slider__navegation-button--opacity-none
            .my-slider__navegation-button.my-slider__navegation-button--next

block main
    

