// !TODO --- COLORS

.body {

    // TODO --- GENERAL COLORS

    // * White
    --color-white: #FEFEFE // * Primary
        --color-primary-100: #3D698F;
    --color-primary-200: #365C7D;
    --color-primary-300: #2E4E6A;
    --color-primary-400: #264259;
    --color-primary-500: #1F3548;
    --color-primary-600: #1A2C3C;
    --color-primary-700: #152431;
    --color-primary-800: #101C27;
    --color-primary-900: #0C141C;

    // * Secondary
    --color-secondary-100: #FDCABE;
    --color-secondary-200: #FCAD9C;
    --color-secondary-300: #FC9179;
    --color-secondary-400: #FB7456;
    --color-secondary-500: #FA5833;
    --color-secondary-600: #F93B10;
    --color-secondary-700: #E02E06;
    --color-secondary-800: #BD2705;
    --color-secondary-900: #9A1F04;

    // * tertiary
    --color-tertiary-100: #FFDBD1;
    --color-tertiary-200: #FFC3B2;
    --color-tertiary-300: #FFA78F;
    --color-tertiary-400: #FF8B6B;
    --color-tertiary-500: #FF6F47;
    --color-tertiary-600: #FF5324;
    --color-tertiary-700: #FF3700;
    --color-tertiary-800: #DB3000;
    --color-tertiary-900: #B82800;

    // TODO --- SPECIFIC COLORS

    // * Button state 
    --color-btn-default: var(--color-tertiary-700) --color-btn-hover: var(--color-tertiary-800) --color-btn-pressed: var(--color-tertiary-900) --color-btn-disabled: var(--color-tertiary-400) // * Button outline state
        --color-btn-outline-default: var(--color-secondary-700) --color-btn-outline-hover: var(--color-secondary-800) --color-btn-outline-pressed: var(--color-secondary-900) --color-btn-outline-disabled: var(--color-secondary-400) // * Color text
        --color-text: var(--color-primary-900) --color-text-white: #FEFEFE // * Color tittle
        --color-tittle: var(--color-secondary-700) --color-tittle-white: var(--color-white) // * Background
        --color-background-primary: #FEFEFE --color-background-secondary: #F2F2F2 // * Color icons
        --color-icons-primary: var(var(--color-primary-500)) // * Color footer
        --color-footer: var(--color-primary-900)
}


// TODO --- ICONS

@font-face {
    font-family: 'material-icons-round';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    // src: url(https://miweb.com/MaterialIcons-Regular.eot);
    // /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(./MaterialIconsRound-Regular.otf) format('truetype');
}

.material-icons-round {
    font-family: 'material-icons-round';
    line-height: 1;
    font-size: 24px;
    user-select: none;
}

.pseudo-icon {
    font-family: "material-icons-round";
    vertical-align: middle;
    margin-right: 4px;
    font-size: 24px;
    color: inherit;
}


//  TODO --- TEXTS

// * Paragraph
@font-face {
    font-family: p;
    font-display: swap;
    src: local('Poppins-Regular'), local('Poppins Regular'), url(./Poppins-Regular.ttf) format('truetype');
}

// * Paragraph SemiBold
@font-face {
    font-family: 'p-semibold';
    font-display: swap;
    font-weight: 600;
    src: local('Poppins-Regular'), local('Poppins Regular'), url(./Poppins-Regular.ttf) format('truetype');

}

// * Tittle
@font-face {
    font-family: 'tittle';
    font-display: swap;
    src: local('Roboto-Regular'), local('Roboto Regular'), url(Roboto-Regular.ttf) format('truetype');

}

// * Button
@font-face {
    font-family: 'button';
    font-display: swap;
    font-weight: 700;
    src: local('Roboto-Regular'), local('Roboto Regular'), url(Roboto-Regular.ttf) format('truetype');

}

h1,
h2,
h3,
h4 {
    font-family: 'tittle', Helvetica;
    line-height: 1;
    color: var(--color-tittle);
}

.h1 {
    font-size: 32px;

    @include min-width(768px) {
        font-size: 48px;
    }

}

.h2 {
    font-size: 28px;

    @include min-width(768px) {
        font-size: 40px;
    }
}

.h3 {
    font-size: 24px;

    @include min-width(768px) {
        font-size: 32px;
    }
}

.h4 {
    font-size: 20px;

    @include min-width(768px) {
        font-size: 22px;
    }
}

.p {
    font-size: inherit;
    text-align: left;
}

.p-small {
    font-size: 14px;
}




//  TODO --- SPACES

:root {
    --space-1: 48px;
    --space-2: 40px;
    --space-3: 32px;
    --space-4: 28px;
    --space-5: 24px;
    --space-6: 16px;
    --space-7: 8px;

    @include min-width(768px) {
        --space-1: 68px;
        --space-2: 56px;
        --space-3: 44px;
        --space-4: 40px;
        --space-5: 36px;
        --space-6: 22px;
        --space-7: 12px;
    }
}


//  TODO --- border radius

.border-radius {
    border-radius: 8px;
}


//  TODO --- SHADOWS

.border-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.border-shadow-left {
    box-shadow: -4px 4px 10px rgba(0, 0, 0, .25);
}


//  TODO --- BORDERS

.border-left {
    border-left: 4px solid var(--color-neutral-900);
}

.background-gradient {
    background-image: linear-gradient(40deg, var(--color-primary-500) 30%, var(--color-primary-400) 75%, var(--color-primary-400));
    transition: background-image .3s ease-in;

    &:hover {
        background-image: linear-gradient(40deg, var(--color-primary-600) 30%, var(--color-primary-400) 75%, var(--color-primary-300));

    }
}