
.my-slider {
	--column: 1;
	--row: 1;
	--gap: 0;
	position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr min-content;
    width: 100%;
	overflow: hidden;
	// background-color: red;
	.slider-menu__slides-container {
		overflow: hidden;
	}
    
	.my-slider__navegation {
		// background-color: gray;
        height: min-content;
		.my-slider__navegation-button {
			cursor: pointer;
		}

		.my-slider__navegation-button--back {
			&::after {
				content: "\e5e0";
			}
		}

		.my-slider__navegation-button--next {
			&::after {
				content: "\e5e1";
			}
		}
	}

	.my-slider__navegation--down {
		display: none;
		gap: 1rem;
		height: min-content;
        justify-content: center;
		align-items: center;
		display: flex; 
		@include min-height-min-width(400px, 700px){
		}	
		.my-slider__navegation-button {
			height: 48px;
            width: 48px;
			border-radius: 50%;
			box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
			transition: transform .3s ease;
            &:hover{
				transform: scale(1.07);
				&::after{
					color: var(--color-btn-outline-default);
				}
            }
            &:active{
				transform: scale(1);
            }
			&::after {
                height: 100%;
				width: 100%;
				border-radius: 50%;
				font-family: "material-icons-round";
				@extend .flex-center;
				color: inherit;
				font-size: 32px;
			}
		}

	}

	.my-slider__navegation--side {
		.my-slider__navegation-button {
			position: absolute;
			top: 0;
			bottom: 0;

			&::after {
				background-color: #e337029d;
				font-family: "material-icons-round";
				transition: transform 0.3s ease;
				@extend .flex-center;
				height: 100%;
				color: #fff;
				font-size: 40px;
			}

			&::before {
				content: " ";
				opacity: 0;
				@extend .position-absolute;
				transition: opacity 0.3s ease;
				background-color: #b62c0269;
			}

			&:hover {
				&::before {
					opacity: 1;
				}

				&::after {
					transform: scale(1.1);
				}
			}

			&:active {
				&::after {
					transform: scale(1.1);
				}
			}
		}

		.my-slider__navegation-button--back {
			left: 0;
		}

		.my-slider__navegation-button--next {
			right: 0;
		}

	}
	.my-slider__navegation-button--opacity-none {
		opacity: 0;
		cursor: default;

		&::after,
		&::before {
			pointer-events: none;
		}
	}
	.my-slider__navegation--side-small {
		.my-slider__navegation-button {
            @extend .flex-center;
			position: absolute;
            top: calc(50% - 20px);
			border-radius: 50%;
            min-height: 48px;
            min-width: 48px;
			box-shadow: 0 0 10px rgba(17, 17, 17, 0.25);
			overflow: hidden;
			transition: transform .3s, opacity 0.3s ease;
			color: var(--color-btn-outline-default);
			&::after {
                font-family: "material-icons-round";
				transition: color 0.3s ease;
				@extend .flex-center;
				color: inherit;
				font-size: 40px;
			}

			&::before {
				content: " ";
				opacity: 0;
				@extend .position-absolute;
				// background-color: var(--color-btn-outline-default);
				background-color: var(--color-secondary-100);
			}

			&:hover {
				transform: scale(1.1);
				&::before {
					opacity: 1;
				}
				
				&::after {
					z-index: $z-index-1;
				}
			}

			&:active {
				transform: scale(0.9);
			}
		}

		.my-slider__navegation-button--back {
			left: 8px;
		}

		.my-slider__navegation-button--next {
			right: 8px;
		}

		.my-slider__navegation-button--opacity-none {
			opacity: 0;
			cursor: default;

			&::after,
			&::before {
				pointer-events: none;
			}
		}
	}
}
.my-slider__slides {
    max-height: 100%;
	display: grid;
	grid-auto-columns: calc(100% / var(--column));
	grid-template-rows: repeat(var(--row), auto);
	grid-auto-flow: column;
	cursor: grab;
	transform: translateX(0);
	transition: transform 0.3s ease-out;
	
	.my-slider__slide {
		height: 100%;
		user-select: none;
        overflow: hidden;
		line-height: 0;
	}
}
